<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <%
				  var image_src = '../resources/img/helmet.jpg';
				  if(spec){
				  	image_src = spec.img_src;
				  } 
				  
				  %>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form"action="/player_info/post" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select Player</option>
							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the palyer's id, 
							 			but will display the player's name-->
							 			<% if(data){
							 				var drop = '';
							 				data.forEach(function(item){
							 					drop += '<option value = ' + item.id + '>' + item.name + '</option>';
							 				});%>
							 				<%-drop%>

							 			<%}%>
						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
							 		    You'll need to calculate here the player's average rushing, receiving, and passing yards.-->
							<%
							var year = '';
							var major = '';
							var game = 0;
							var pass = 0;
							var avgPass = 0;
							var rush = 0;
							var avgRush = 0;
							var rec = 0;
							var avgRec = 0; 
							if(games_played){
								game = games_played;
							}		    
							if(spec){
								year = spec.year;
								major = spec.major;
								pass = spec.passing_yards;
								rush = spec.rushing_yards;
								rec = spec.receiving_yards;
								avgRush = rush / game;
								avgRec = rec / game;
								avgPass = pass / game;
							}%>
							<th>Year</th>
							<td><%-year%></td>
						</tr>
						<tr>
							<th>Major</th>
							<td><%-major%>	</td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td><%-game%>	</td>
						</tr>
						<tr>
							<td>Passing Yards: </td><td><%-pass%></td>
							<td>Avg. Passing Yards: </td><td><%-avgPass%></td>
						</tr>
						<tr>
							<td>Rushing Yards: </td><td><%-rush%></td>
							<td>Avg. Rushing Yards: </td><td><%-avgRush%></td>
						</tr>
						<tr>
							<td>Receiving Yards: </td><td><%-rec%></td>
							<td>Avg. Receiving Yards: </td><td><%-avgRec%></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
  
<% include ../partials/footer %>